* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 10px 0;
}

#root {
}

.app {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 28px;
}

.title:not(:last-child) {
    margin-bottom: 15px;
}

.post {
    border: 2px solid #535bf2;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__title {
    font-size: 18px;
}

.post__title:not(:last-child) {
    margin-bottom: 5px;
}

.post:not(:last-child) {
    margin-bottom: 10px;
}

.post-enter {
    transform: scale(0);
}
.post-enter-active {
    transform: scale(1);
    transition: opacity 500ms ease-in, transform 500ms ease 0s;
}
.post-exit {

}
.post-exit-active {
    transform: scale(0);
    transition: opacity 500ms ease-in, transform 500ms ease 0s;
}

.pagination-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination-button.active {
    border: 2px solid #353bc9;
    font-weight: 600;
}

.pagination-button:not(:last-child) {
    margin-right: 10px;
}